/* line 6, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.contenedor, .contenedor-con-altura {
  width: 1280px;
}

/* line 10, ../../../Desktop/SASS/test_sass/sass/style1.scss */
h1,
h2,
h3,
p {
  color: #AAAABB;
}

/* line 17, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.contenedor-con-altura {
  height: 514px;
}

/* line 22, ../../../Desktop/SASS/test_sass/sass/style1.scss */
ul {
  font-size: 1.2rem;
  color: red;
}

/* line 26, ../../../Desktop/SASS/test_sass/sass/style1.scss */
ul ul {
  font-size: 0.7rem;
  color: green;
}

/* line 30, ../../../Desktop/SASS/test_sass/sass/style1.scss */
ul ul ul {
  font-size: 0.2rem;
  color: blue;
}

/* line 34, ../../../Desktop/SASS/test_sass/sass/style1.scss */
ul ul ul ul {
  color: grey;
}

/* line 41, ../../../Desktop/SASS/test_sass/sass/style1.scss */
a {
  color: blue;
  text-decoration: none;
  font-size: 1.2rem;
}

/* line 46, ../../../Desktop/SASS/test_sass/sass/style1.scss */
a:hover {
  color: green;
  text-decoration: underline;
}

/* line 51, ../../../Desktop/SASS/test_sass/sass/style1.scss */
a:focus {
  color: red;
  text-decoration: none;
}

/* line 56, ../../../Desktop/SASS/test_sass/sass/style1.scss */
a.enlace_propio {
  color: yellowgreen;
}

/* line 62, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.mitad {
  width: 640px px;
}

/* line 66, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.cuarto {
  width: 320px px;
}

/* line 70, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.octavo {
  width: 160px px;
}

/* line 78, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.decimo {
  width: 128px;
}

/* line 84, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.box {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-2 {
  width: "50%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-3 {
  width: "33.33333%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-4 {
  width: "25%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-5 {
  width: "20%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-6 {
  width: "16.66667%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-7 {
  width: "14.28571%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-8 {
  width: "12.5%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-9 {
  width: "11.11111%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-10 {
  width: "10%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-11 {
  width: "9.09091%";
}

/* line 89, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-12 {
  width: "8.33333%";
}

/* line 97, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-while-5 {
  width: "20%";
}

/* line 97, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-while-6 {
  width: "16.66667%";
}

/* line 97, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-while-7 {
  width: "14.28571%";
}

/* line 97, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-while-8 {
  width: "12.5%";
}

/* line 97, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-while-9 {
  width: "11.11111%";
}

/* line 97, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-while-10 {
  width: "10%";
}

/* line 97, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-while-11 {
  width: "9.09091%";
}

/* line 97, ../../../Desktop/SASS/test_sass/sass/style1.scss */
.col-while-12 {
  width: "8.33333%";
}

/*# sourceMappingURL=style1.css.map */