$color-letra: #AAAABB;
$ancho: 1280px;
$altura: 514px;

.contenedor {
    width: $ancho;
}

h1,
h2,
h3,
p {
    color: $color-letra;
}

.contenedor-con-altura {
    @extend .contenedor;
    height: $altura;
}

ul {
    font-size: 1.2rem;
    color: red;

    ul {
        font-size: 0.7rem;
        color: green;

        ul {
            font-size: 0.2rem;
            color: blue;

            ul {
                color: grey;
            }
        }
    }
}

a {
    color: blue;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover {
        color: green;
        text-decoration: underline;
    }

    &:focus {
        color: red;
        text-decoration: none;
    }

    &.enlace_propio {
        color: yellowgreen;
    }

}

.mitad {
    width: ($ancho/2)px;
}

.cuarto {
    width: ($ancho/4)px;
}

.octavo {
    width: ($ancho/8)px;
}

@function partir($tam, $num_partes) {
    @return ($tam/$num_partes);
}

.decimo {
    width: partir($ancho, 10);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.box {
    @include border-radius(5px);
}

@for $p from 2 through 12 {
    .col-#{$p} {
        width: 100/$p+"%";
    }
}

$y : 5;

@while $y <=12 {
    .col-while-#{$y} {
        width: 100/$y+"%";
    }
    $y: $y+1;
}